<%= button_to 'Discover Movies', '/discover', method: :get %>

<section class="friends">
  <%= form_tag('/friendships') do %>
    <%= text_field_tag :friend_email, nil, placeholder: "Friend's email" %>
    <%= submit_tag "Add Friend" %>
  <%end%>

  <div class="current_friends">
    <p>Friends:</p>
    <% if @user.friends.empty? %>
      <p>You currently have no friends</p>
    <% else %>
      <% @user.friends.each do |friend| %>
        <%= friend.name %> <br>
      <% end %>
    <%end%>
  </div>
</section>


<section class="viewing-parties">
  <% @user.parties.each do |party| %>
    <%= party.movie_title %>
    <%= party.date %>
    <%= party.time %>
    <% if party.host_id == @user.id %>
      <p>Hosting</p>
    <% else %>
      <p>Invited</p>
    <% end %>
  <% end %>
</section>
