<article class="movie-details">
  <section id="title">
    <%= tag.h1 @movie.title %>
  </section>

  <div class="viewing-party">
    <% unless current_user.nil?  %>
    <h4><%= link_to "Create Viewing Party", "/viewing_party/new?movie_id=#{@movie.movie_id}" %></h4>
    <% end %>
  </div>

  <main>
    <ul>
      <%= tag.li "Vote Average: ", id: 'vote_average' %>
      <%= tag.li "Runtime: #{@movie.runtime}", id: 'runtime' %>
      <div class="genres">
        <%= tag.li "Genres: #{@movie.genre_names.join(", ")}" %>
      </div>
    </ul>

    <div class="description">
      <%= "Description: #{@movie.description}"  %>
    </div>

    <div class="cast_members">
      <h3>Cast:</h3>
      <ul>
        <% @movie.top_ten_cast_members.each do |actor|  %>
        <%= tag.li "#{actor.actor}, as #{actor.character}" %>
        <%end%>
      </ul>
    </div>

    <div class="reviews">
      <h3> <%= @movie.reviews_count%> Reviews</h3>
      <% @movie.reviews.each do |rev| %>
      <%= "Author: #{rev.author}" %> <br>
      <%= "Description: #{rev.description}" %> <br><br>
      <% end %>
    </div>
  </main>
</article>
