<h1>Edit Viewing Party</h1>
<h2><%= @party.movie_title %></h2>

<section class="viewing-party-edit-form">

<%= form_tag viewing_party_path(@party.id), method: :patch do |f|%>
  <%= label_tag :party_duration %>
  <%= text_field_tag :party_duration, @party.party_duration%><br/><br>

  Currently selected date for your Party: <%=@party.date%> <br>
  <label for="date">Select a new date for your viewing party:</label> <br>
  <input type="date" id="date" name="date"><br/><br>

  Currently selected time for your Party : <%=@party.time%> <br>
  <label for="time">Select a new time for your viewing party:</label> <br>
  <input type="time" id="time" name="time"><br/>

  <p>Current Attendees</p>
  <% @party.users.each do |user| %>
  <li>
    <%= user.name %>
  </li>
  <% end %> <br>

  <span>Include: <br/>
    <%= collection_check_boxes :friend, :ids, @invitees, :id, :name, include_hidden: false %>
  </span>
  <%= submit_tag "Update Party" %>
</section>
<% end %>
